HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# 이 파일(.env)은 비밀 정보가 담겨 있으니 절대 Git에 올리지 마세요!
.env

# .gitignore 파일 내용
ai.yml
send.yml

# Firebase Service Key
/src/main/resources/firebase/serviceAccountKey.json